.auth {
  width: 100%;
  margin-top: 1rem;

  .tokenSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .tokenInput {
      height: 6rem;
      width: 100%;

      .md-input-container {
        width: 100%;
        padding-right: 2rem;
      }

      button {
        margin-bottom: 1rem;
      }
    }
  }
}
